<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.learning.common">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application android:supportsRtl="true">
        <activity android:name=".webview.CommonWebActivity">
            <intent-filter>
                <action android:name="android.intent.action.COMMON_WEB" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>
